<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
        <basicAuthentication enabled="false" />
        <digestAuthentication enabled="false" />
      </authentication>
    </security>
    <defaultDocument enabled="true">
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
  <aspNetCore processPath=".\EgeControlWebApp.exe"
        arguments=""
        hostingModel="OutOfProcess"
        stdoutLogEnabled="true"
        stdoutLogFile=".\logs\stdout"
        requestTimeout="00:05:00" />
  </system.webServer>
</configuration>
