<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore 
      processPath="dotnet" 
      arguments=".\EgeControlWebApp.dll" 
      stdoutLogEnabled="true" 
      stdoutLogFile=".\logs\stdout" 
      hostingModel="inprocess" />
    
    <!-- Error handling for startup issues -->
    <httpErrors>
      <remove statusCode="500" subStatusCode="32" />
      <error statusCode="500" subStatusCode="32" responseMode="File" path="500-32-error.html" />
    </httpErrors>
  </system.webServer>
</configuration>
