name: Deploy via WebDeploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: windows-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore and Build
        run: |
          dotnet restore ./EgeControlWebApp/EgeControlWebApp.csproj
          dotnet build ./EgeControlWebApp/EgeControlWebApp.csproj -c Release --no-restore

      - name: Publish Application
        run: |
          dotnet publish ./EgeControlWebApp/EgeControlWebApp.csproj -c Release -o ./publish --no-build

      - name: Deploy to IIS
        uses: azure/webapps-deploy@v2
        with:
          app-name: '${{ secrets.SITE_NAME }}'
          publish-profile: '${{ secrets.PUBLISH_PROFILE }}'
          package: './publish'
